
<div class="course-list">

    <h3>Courses Offered</h3>
    
    <ul>
    
    <li><a href="#">Web Development</a></li>
    
    <li><a href="#">Angular 19
    Basics</a></li>
    
    <li><a href="#">Advanced Angular</a></li>
    
    <li><a href="#">JavaScript
    Essentials</a></li>
    
    <li><a href="#">TypeScript
    Mastery</a></li>
    
    <li><a href="#">Front-End UI/UX</a></li>

    <li><a href="#">Machine Learning</a></li>

    <li><a href="#">Artificial Intelligence</a></li>

    <li><a href="#">Data Analysis</a></li>

    <li><a href="#">Full Stack Development</a></li>

    <li><a href="#">Backend Development</a></li>

    <li><a href="#">Frontend Development</a></li>
    
    <li><a href="#"></a></li>
    </ul>
    
    </div>