.course-list {

    background-color: #f9f9f9;
    
    padding: 15px;
    
    border-radius: 5px;
    
    }
    
    .course-list h3 {
    
    text-align: center;
    
    color: #2c3e50;
    
    }
    
    .course-list ul {
    
    list-style-type: none;
    
    padding: 0;
    
    }
    
    .course-list ul li {
    
    padding: 8px 0;
    
    }
    
    .course-list ul li a {
    
    text-decoration: underline;
    
    color: #007bff;
    
    font-weight: bold;
    
    }
    
    .course-list ul li a:hover {
    
    color: #ff5722;
    
    }